@model AutoWash.Models.EF.PlanDetails
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBasicCleaningRequest</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

</head>
<body>
    <div>
        <form action="GetPremiumCleaningRequest" method="post" style="padding:40px 40px 40px 40px;">
            @if (Model != null && Model.LastPrimeCleantables.pid > 0)
            {
                <div class="form-group row">
                    <label for="CPname" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="CPname" name="CPname" placeholder="Pls Enter Your Name !!" required>
                    </div>
                </div>
                <div class="form-group row" hidden>
                    <label for="bid" class="col-sm-2 col-form-label">id</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="bid" value="@Model.LastPrimeCleantables.pid" name="bid">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bplan" class="col-sm-2 col-form-label">Plan</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="CPplan" name="CPplan" value="@Model.LastPrimeCleantables.pplan" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="bprice" class="col-sm-2 col-form-label">Plan Price</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="CPprice" name="CPprice" value="@Model.LastPrimeCleantables.pprice.Trim()" placeholder="Price" required>
                    </div>
                </div>

                @*@Html.Partial("_AddService")*@
                <br />
                <div class="form-group row" style="padding:0px 0px 0px 15px;">
                    <div class="form-group row">
                        <div class="col-sm-2">All Services</div>
                        <div class="col-sm-10">

                            <div class="form-check">

                                @if (Model.LastPrimeCleantables.pservices != null)
                                {
                                    foreach (string str in ViewBag.services)
                                    {
                                        var selectedService = Model.LastPrimeCleantables.pservices.Split(',');
                                        bool isselected = false;
                                        foreach (var selected in selectedService)
                                        {
                                            if (selected.ToString().Trim() == str)
                                            {
                                                isselected = true;
                                            }
                                        }
                                        if (isselected)
                                        {
                                            <input class="form-check-input" type="checkbox" id="CPsr" name="CPsr" value="@str" checked required />
                                            <label class="form-check-label" for="CPservices">
                                                @str
                                            </label><br />
                                        }  
                                    }
                                }

                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" class="btn btn-info">Submit</button>
                        </div>
                    </div>
                </div>
            }
        </form>

    </div>
</body>
</html>
