@using AutoWash.Models;
@{
    ViewBag.Title = "DisplayCustomerQuery";
}


<!-- Content Header (Page header) -->
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Customer Query</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="~/AWAdmin/Dashboard/Index">Home</a></li>
                    <li class="breadcrumb-item active">Query</li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->
</div>

<table class="table table-hover">
    <tr>
        <td>Name</td>
        <td>Email</td>
        <td>Subject</td>
        <td>Message</td>
        <td>Action</td>
    </tr>
    @foreach (var item in ViewBag.query)
    {
        <tr>
            <td>@item.cname1</td>
            <td>@item.cemail1</td>
            <td>@item.csubject1</td>
            <td>@item.cmessage1</td>
            <td>

                <span style="font-size: 19px;align-content:center;"><a href="~/AWAdmin/QueryStatus/DeleteDisplayCustomerQuery/@item.cid1">Delete</a></span>&nbsp;&nbsp;

            </td>
        </tr>
    }

</table>